@import 'tailwindcss';
@import '@fortawesome/fontawesome-free/css/all.css';


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Kurale', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-footer:#131313;     
}

@layer component{
    .nav-link{
        @apply text-white hover:text-orange-100 transition
    }

    .footer-link{
        @apply text-gray-400 hover:text-white transition-all duration-300 text-sm font-medium
    }

    .icon{
        @apply relative text-white hover:text-orange-100 transition-all duration-300 hover:scale-110
    }

    .custom-btn{
        @apply inline-block border-2 border-white text-white px-12 py-4 text-lg md:text-xl font-semibold tracking-wider uppercase  hover:text-orange-100 transition-all duration-300  focus:ring-2 focus:ring-orange-100 focus:border-orange-100
    }

    .heading{
        @apply text-center font-bold text-white text-4xl mb-2
    }

    .sub-heading{
        @apply text-gray-400 text-center mb-12
    }

    .product-card{
        @apply bg-gray-800 rounded-2xl min-w-[288px] w-72 overflow-hidden shadow-lg hover:shadow-2xl transition-all duration-300 hover:-translate-y-2 flex-shrink-0
    }
}